@using Microsoft.AspNetCore.Identity
@model IQueryable<IdentityRole>
<div class="d-flex justify-content-between align-items-center">
    <div class="display-6 text-primary ms-2 text-center">
        Role List
    </div>
    <div>
        <a asp-controller="Admin" asp-action="CreateRole" class="btn btn-primary">Create Role</a>
        <a asp-controller="Admin" asp-action="UserList" class="btn btn-warning">Change Users in Role</a>
    </div>
</div>
<hr>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Role Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td>
                    <div>
                        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#roleUpdateModal-@role.Name" data-bs-whatever="roleUpdateModal">Update</button>

                        <div class="modal fade" id="roleUpdateModal-@role.Name" tabindex="-1" aria-labelledby="roleUpdateModal" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="roleUpdateModalLabel-@role.Name">Update Role <strong>@role.Name</strong></h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form asp-controller="Admin" asp-action="UpdateRole" method="post">
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="recipient-name" class="col-form-label">Id:</label>
                                                <input readonly value=@role.Id name="id" type="text" class="form-control" id="recipient-name">
                                            </div>
                                            <div class="mb-3">
                                                <label for="message-text" class="col-form-label">Role Name:</label>
                                                <input value=@role.Name type="text" name="name" class="form-control" id="recipient-name">

                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-warning">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>



                        <a asp-controller="Admin" asp-action="DeleteRole" asp-route-id=@role.Id type="button" class="btn btn-outline-danger">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


