@model ChangePasswordModel

<div class="display-6 text-primary ms-2 text-center">
    Change Password
</div>
<hr>

<form asp-controller="Account" asp-action="ChangePassword" method="post">
    <div class="row mt-4">
        <div class="offset-3 col-md-6">
            <div class="row mb-2">
                <div class="col text-center">
                    <h5> Please provide Current and New Password For <strong class="text-primary">@User.Identity.Name</strong></h5>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-3">
                    <label class="col-form-label" asp-for="OldPassword"></label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" asp-for="OldPassword" />
                </div>
                <strong><span asp-validation-for="OldPassword" class="text-danger offset-3 col ps-2"></span></strong>
            </div>

            <div class="row mb-2">
                <div class="col-md-3">
                    <label class="col-form-label" asp-for="NewPassword"></label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" asp-for="NewPassword" />
                </div>
                <strong><span asp-validation-for="NewPassword" class="text-danger offset-3 col ps-2"></span></strong>
            </div>

            <div class="row mb-2">
                <div class="col-md-3">
                    <label class="col-form-label" asp-for="NewRePassword"></label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" asp-for="NewRePassword" />
                </div>
                <strong><span asp-validation-for="NewRePassword" class="text-danger offset-3 col ps-2"></span></strong>
            </div>

            <div class="row mt-3">
                <div class="col text-end">
                    <button class="btn btn-primary btn-md" type="submit">Change Password</button>
                </div>
            </div>
        </div>
    </div>
</form>