<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img width=140 src="~/images/logo.png" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar d-sm-flex flex-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                             Hello @User.Identity.Name!
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @if (User.IsInRole("Admin"))
                            {
                            <li><a class="dropdown-item" asp-controller="Admin" asp-action="RoleList">Role List</a></li>
                                <li><a class="dropdown-item" asp-controller="Admin" asp-action="UserList">User List</a></li>
                            }
                            @if (User.IsInRole("Customer"))
                            {
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Index">Display Tickets</a></li>
                            }
                              @if (User.IsInRole("Operator"))
                            {
                                <li><a class="dropdown-item" asp-controller="Operator" asp-action="LineList">LineList</a></li>
                                <li><a class="dropdown-item" asp-controller="Operator" asp-action="BusList">BusList</a></li>
                            }
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-controller="Account" asp-action="ChangePassword">Change Password</a></li>
                        </ul>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
                    </li>

                }
            </ul>
        </div>
    </div>
</nav>
